/src/invoker/mongoDatabase.properties
/config.json
/credentials.json
/databaseProperties.json
/synthesize/src/main/resources/credentials.json
/recognitionFunc/src/main/resources/credentials.json
/extract/src/main/resources/credentials.json
*.tf
/.terraform
/terraform.tfstate.backup
/terraform.tfstate
/src/invoker/workflowData/
/src/invoker/config.json
/src/invoker/credentials.json
/src/invoker/dataManager/config.json
/src/analyzer/config.json
/src/analyzer/test.json
/src/invoker/runInput.json
terraform.tfstate
terraform.tfstate.backup
