AwesomeTkinter==2021.11.8
jsonschema==4.23.0
pandas==2.2.3
pandasql==0.7.3
pandastable==0.13.1
pymongo==4.10.1
python-dotenv==1.0.1
python_terraform==0.10.1
SQLAlchemy==2.0.36
SQLAlchemy_Utils==0.41.2
plotly==5.24.1
kaleido==0.1.0.*
pillow==11.0.0